<!DOCTYPE html>
<html>
<head>
    <title>Tìm kiếm nâng cao</title>
    <% include ./../elements/head %>
    <link href="documentation/main.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,600,700" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <% include ./../elements/header %>
 
  <!-- Left side column. contains the logo and sidebar -->
  <% include ./../elements/sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
      Tìm kiếm nâng cao
    
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="card shadow mb-4">
        <!-- content -->
        <div class="s009">
              <form>
                <div class="inner-form">
                  <div class="basic-search">
                    <div class="input-field">
                      <input id="search" type="text" placeholder="Nhập nội dung cần tìm" />
                      <div class="icon-wrap">
                        <svg class="svg-inline--fa fa-search fa-w-16" fill="#ccc" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                          <path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="advance-search">
                    <span class="desc">Tìm kiếm nâng cao </span>
                    <div class="row">
                      <div class="input-field">
                        <div class="input-select">
                          <select data-trigger="" name="choices-single-defaul">
                            <option placeholder="" value="">Loại sản phẩm</option>
                            <option>Thức uống </option>
                            <option>Thức ăn</option>
                          </select>
                        </div>
                      </div>
                      <div class="input-field">
                        <div class="input-select">
                          <select data-trigger="" name="choices-single-defaul">
                            <option placeholder="" value="">Màu sắc</option>
                            <option>Đỏ</option>
                            <option>Xanh </option>
                          </select>
                        </div>
                      </div>
                      <div class="input-field">
                        <div class="input-select">
                          <select data-trigger="" name="choices-single-defaul">
                            <option placeholder="" value="">Kích cỡ </option>
                            <option> Lớn </option>
                            <option> Nhỏ </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row second">
                      <div class="input-field">
                        <div class="input-select">
                          <select data-trigger="" name="choices-single-defaul">
                            <option placeholder="" value="">Khuyến mãi </option>
                            <option>Không </option>
                            <option>10% </option>
                          </select>
                        </div>
                      </div>
                      <div class="input-field">
                        <div class="input-select">
                          <select data-trigger="" name="choices-single-defaul">
                            <option placeholder="" value=""> Thời gian giao hàng </option>
                            <option> Hôm nay </option>
                            <option> Tuần này </option>
                            <option> Tháng này </option>
                          </select>
                        </div>
                      </div>
                      <div class="input-field">
                        <div class="input-select">
                          <select data-trigger="" name="choices-single-defaul">
                            <option placeholder="" value=""> Vị trí </option>
                            <option>Mỹ </option>
                            <option>Việt nam </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row third">
                      <div class="input-field">
                        <div class="result-count">
                          <span>108 </span>Kết quả</div>
                        <div class="group-btn">
                          <button class="btn-delete" id="delete"> Nhập lại </button>
                          <button class="btn-search">Tìm kiếm </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
</div>

   </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <% include ./../elements/footer %>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark" style="display: none;">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                <p>New phone +1(800)555-1234</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                <p>nora@example.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-file-code-o bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                <p>Execution time 5 seconds</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="label label-danger pull-right">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Update Resume
                <span class="label label-success pull-right">95%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Laravel Integration
                <span class="label label-warning pull-right">50%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Back End Framework
                <span class="label label-primary pull-right">68%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Allow mail redirect
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Other sets of options are available
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Expose author name in posts
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Allow the user to show his name in blog posts
            </p>
          </div>
          <!-- /.form-group -->

          <h3 class="control-sidebar-heading">Chat Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Show me as online
              <input type="checkbox" class="pull-right" checked>
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Turn off notifications
              <input type="checkbox" class="pull-right">
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Delete chat history
              <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
            </label>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<% include ./../elements/script %>
</body>
</html>


